body {
  width: 80%;
  margin: auto;
  /*background-color: black;*/
  font-family: monospace;
  background-color: gray;
}

h1 {
  text-align: center;
  color: black;
}


.board {
  width: 60vw;
  margin: auto;
  background-image: url("../images/wood.png");
  border: 2px solid black;

}


.injectTable {
  opacity: 1;
  z-index: 1;
}

.cell {
  opacity: 0;
  cursor: default;


}

.white {
  background-color: white;
  transition: background-color 0.5s ease-in;

}

.black {
  background-color: black;
  transition: background-color 0.5s ease-in;

}

.green {
  background-color: green;
  transition: background-color 0.5s ease-in;
}

tr {
  min-height: 40px;
}

td {
  padding: 20px;
  /*color: white;*/
  background-color: green;
  /*min-width: 10px;*/
  width: 20px;
  /*width: 10px;*/
  /*min-height: 10px;*/
  height: 20px;
  /*height: 10px;*/
  text-align: center;
  margin: 10px;
  /*border: 1px solid #979797;*/
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.50);

}

table {
  border-spacing: 15px;
  max-width: 60%;
  margin: auto;
}


td .pressed {
}

.greenBox {
  background-color: green;
  color: green;
}

.blackText {
  opacity: 0;
}

.whiteText {
  opacity: 0;
}

.greenText {
  opacity: 0;
}

.blackBox {
  background-color: black;
  color: black;
}

.whiteBox {
  background-color: white;
  color: white;
}

.currentPlayerIndicator {
  width: 50px;
  height:50px;
  border: 1px solid black;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.50);
  float: right;



  /*transition: background-color 1s ease-in-out 2s;  */
}

.button-pressed {
  box-shadow: none;
  transition-duration: 0.2s;
}
